/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

use {
  fill: rgb(149, 225, 211);
}

use:hover {
  fill: rgb(243, 129, 129);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.title::after {
  display: block;
  content: "";
  width: 60px;
  height: 4px;
  background-color: rgb(243, 129, 129);
}

.subtitle {
  color: rgb(51, 51, 51);
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  text-align: center;
}

.burger-menu__button {
  display: none;
}

.burger-menu__svg {
  width: 50px;
  height: 50px;
}

.footer__description {
  line-height: auto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

.footer {
  padding-bottom: 10px;
}
.footer__container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(182, 182, 182);
}
.footer__description {
  color: rgb(0, 0, 0);
}
.footer__link {
  color: rgb(243, 129, 129);
  font-size: 14px;
}
.footer__form {
  display: flex;
}
.footer__input {
  color: rgb(182, 182, 182);
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
  border-width: 1px;
  border-color: rgb(182, 182, 182);
  border-style: solid;
  padding: 12px 10px 11px 10px;
  width: 230px;
  height: 40px;
  border-right: none;
}
.footer__button {
  font-variant: small-caps;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(149, 225, 211);
  border-width: 0;
  width: 150px;
  height: 40px;
}

.service {
  padding-top: 68px;
}
.service__wrapper {
  max-width: 290px;
}
.service__list {
  row-gap: 100px;
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
  flex-wrap: wrap;
}
.service__item {
  flex-basis: calc((100% - 140px) / 3);
  gap: 20px;
  display: flex;
}
.service__article {
  display: flex;
  gap: 20px;
}
.service__title {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
  color: rgb(51, 51, 51);
  font-size: 14px !important;
  text-transform: uppercase;
}
.service__description {
  color: rgb(182, 182, 182);
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}
.service__icon {
  flex-shrink: 0;
  width: 37px;
  fill: rgb(149, 225, 211);
  height: 37px;
}

.title--service {
  padding-top: 20px;
}

.title--service::after {
  display: block;
  content: "";
  width: 60px;
  height: 4px;
  background-color: rgb(243, 129, 129);
  margin: 40px auto 65px;
}

.header {
  padding-top: 17px;
}
.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header__list {
  display: flex;
  gap: 55px;
}
.header__link {
  color: rgb(149, 225, 211);
  font-size: 14px;
  text-transform: uppercase;
}
.header__link:hover {
  color: rgb(243, 129, 129);
  border-bottom: 3px solid rgb(243, 129, 129);
  padding-bottom: 10px;
}
.header__logo {
  color: rgb(149, 225, 211);
  font-size: 30px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .header__list {
    display: none;
  }
  .burger-menu__button {
    display: inline-block;
  }
}
.menu__button {
  display: none;
  width: 30px;
  overflow: hidden;
  height: 30px;
  position: relative;
  z-index: 2;
}

.burger-menu {
  height: 100%;
  transition: transform 0.5s;
  padding: 15px;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.burger-menu.active {
  transform: translateX(0);
  overflow: hidden;
}

.burger-menu__item {
  list-style-type: none;
}

.burger-menu__link.active {
  color: rgb(243, 129, 129);
  font-size: 30px;
  font-weight: 600;
}
.burger-menu__link.active:hover {
  color: rgb(149, 225, 211);
  font-size: 40px;
  text-shadow: 0 0 10px 2px black;
  text-align: center;
}

.burger-menu__link.active:hover .burger-menu.active {
  background-color: black;
}

.burger-menu__list.active {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.page {
  transition: 0.4s;
}

.page.blur {
  display: none;
  pointer-events: none;
}

.close-burger-menu {
  background: none;
  border: none;
  font-size: 30px;
}

.burger-menu__close {
  display: flex;
  justify-content: end;
}

.menu-logo__link {
  color: 149, 225, 211, 1;
}

.burger__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.menu__link {
  letter-spacing: 0;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(149, 225, 211);
  font-size: 30px;
}
.menu__link:hover {
  border-color: rgb(243, 129, 129);
  padding-bottom: 10px;
  color: rgb(243, 129, 129);
  border-bottom: 3px solid;
}

.burger-menu__item {
  padding-bottom: 40px;
}

.burger-menu__logo {
  font-size: 50px;
  font-weight: 700;
  width: 100%;
}

.burger__logo {
  color: rgb(149, 225, 211);
  text-align: center;
}

.burger__logo--animation {
  font-weight: bold;
  color: rgb(149, 225, 211);
  text-shadow: 0 0 5px rgb(149, 225, 211), 0 0 1px rgb(149, 225, 211), 0 0 2px rgb(149, 225, 211), 0 0 3px rgb(149, 225, 211), 0 0 5px rgb(149, 225, 211), 0 0 8px rgb(149, 225, 211);
  animation: glowPulse 2s ease-in-out infinite alternate;
}

@keyframes glowPulse {
  0% {
    text-shadow: 0 0 1px rgb(149, 225, 211), 0 0 2px rgb(149, 225, 211), 0 0 3px rgb(149, 225, 211), 0 0 5px rgb(149, 225, 211), 0 0 7px rgb(149, 225, 211), 0 0 10px rgb(149, 225, 211);
  }
  100% {
    text-shadow: 0 0 2px rgb(149, 225, 211), 0 0 4px rgb(149, 225, 211), 0 0 6px rgb(149, 225, 211), 0 0 8px rgb(149, 225, 211), 0 0 10px rgb(149, 225, 211), 0 0 15px rgb(149, 225, 211);
  }
}
@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}
.about {
  text-align: center;
  padding-bottom: 80px;
  padding-top: 100px;
}
.about__description {
  padding: 0 48px 27px;
  color: rgb(182, 182, 182);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.about__item {
  min-width: 250px;
}
.about__article {
  position: relative;
  display: inline-block;
}
.about__image-wrapper {
  position: relative;
  display: inline-block;
}
.about__image-wrapper:hover .about__overlay {
  display: block;
}
.about__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.about__overlay {
  display: none;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(239, 139, 138, 0.8), rgba(229, 207, 130, 0.8));
  z-index: 2;
}
.about__name {
  padding: 30px 0 11px;
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 400;
  color: rgb(51, 51, 51);
  letter-spacing: 0;
}
.about__role {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: rgb(182, 182, 182);
  margin: 0;
}

.title--about {
  padding-top: 17px;
  font-size: 30px;
  font-weight: 700;
  font-variant: small-caps;
  color: rgb(51, 51, 51);
}

.title--about::after {
  display: block;
  content: "";
  width: 60px;
  height: 4px;
  background-color: rgb(243, 129, 129);
  margin: 36px auto 45px;
}

@media (max-width: 393px) {
  .container {
    max-width: 340px;
    max-width: 340px;
    margin: 0 auto;
  }
  .title {
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    font-variant: small-caps;
    font-size: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: 0;
  }
  .title::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin: 0 auto;
    background-color: rgb(243, 129, 129);
  }
  .subtitle {
    font-family: "Kaushan Script", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 100%;
    color: rgb(51, 51, 51);
  }
  .header {
    padding-top: 4px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__list {
    display: none;
    gap: 55px;
  }
  .header__link {
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(149, 225, 211);
    font-weight: 400;
  }
  .header__link:hover {
    border-bottom: 3px solid rgb(243, 129, 129);
    padding-bottom: 10px;
    color: rgb(243, 129, 129);
  }
  .header__logo {
    font-weight: 700;
    line-height: 100%;
    font-size: 30px;
    color: rgb(149, 225, 211);
  }
  .service {
    padding: 38px 0 70px;
  }
  .service__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .service__list {
    display: flex;
    justify-content: center;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .service__item {
    width: 100%;
  }
  .service__article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service__title {
    font-weight: 400;
    font-size: 15px;
    padding: 0 0 10px 10px;
    color: rgb(51, 51, 51);
    font-variant: small-caps;
  }
  .service__description {
    font-weight: 400;
    font-size: 15px;
    width: 310px;
    padding: 0 0 0 10px;
    font-family: "Roboto", sans-serif;
    color: rgb(182, 182, 182);
    line-height: 22px;
  }
  .service__icon {
    width: 37px;
    height: 37px;
  }
  .title--service::after {
    margin: 40px auto 65px;
  }
  .about {
    text-align: center;
    padding-bottom: 80px;
  }
  .about__description {
    font-size: 12px;
    padding: 0 48px 27px;
    font-weight: 400;
    color: rgb(182, 182, 182);
    font-family: "Roboto", sans-serif;
  }
  .about__list {
    display: flex;
    gap: 30px;
  }
  .about__title {
    font-variant: small-caps;
    font-weight: 400;
    font-size: 14px;
    padding: 30px 0 11px;
    color: rgb(51, 51, 51);
  }
  .about__role {
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    margin: 0;
    color: rgb(182, 182, 182);
    font-family: "Roboto", sans-serif;
  }
  .about__article {
    position: relative;
  }
  .about__article:hover .about__overlay {
    display: block;
  }
  .about__image {
    width: 260px;
    height: 300px;
  }
  .about__overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(239, 139, 138, 0.8), rgba(229, 207, 130, 0.8));
  }
  .title--about::after {
    margin: 16px auto 15px;
  }
  .footer {
    padding-bottom: 10px;
  }
  .footer__form {
    justify-content: center;
  }
  .footer__description {
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0;
    color: rgb(0, 0, 0);
  }
  .footer__input {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    color: rgb(182, 182, 182);
    border: 1px solid rgb(182, 182, 182);
    padding: 12px 20px;
    width: 100%;
  }
  .footer__button {
    font-variant: small-caps;
    font-weight: 700;
    font-size: 10px;
    padding: 8px 25px 9px;
    background-color: rgb(149, 225, 211);
    color: rgb(255, 255, 255);
    border: none;
  }
  .footer__container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 750px;
    max-width: 750px;
  }
  .header__list {
    gap: 30px;
  }
  .service__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .footer__container {
    flex-direction: column;
    gap: 10px;
  }
  .footer__input {
    max-width: 230px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .service__list {
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 50px;
    flex-wrap: wrap;
  }
  .about__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__item {
    width: 45%;
  }
}