body {
  font-family: var(--font-family);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: rgb(51, 51, 51);
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0%;
  line-height: 100%;
  font-variant: small-caps;
}

.subtitle {
  text-align: center;
  padding-bottom: 20px;
  color: rgb(51, 51, 51);
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  padding-top: 17px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 55px;
}
.header__link {
  color: rgb(149, 225, 211);
  font-weight: 400;
  font-size: 14px;
  line-height: auto;
  letter-spacing: 0;
  text-transform: uppercase;
}
.header__link__link:hover {
  color: rgb(243, 129, 129);
  padding-bottom: 10px;
  border-bottom: 3px solid;
  border-color: rgb(243, 129, 129);
}
.header__logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(149, 225, 211);
}

.hero {
  padding-top: 68px;
  padding-bottom: 100px;
}
.hero__list {
  display: flex;
  gap: 70px;
}
.hero__title {
  color: rgb(51, 51, 51);
  font-variant: small-caps;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: auto;
  padding-left: 20px;
}
.hero__desc {
  color: rgb(182, 182, 182);
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 400;
  padding-left: 19px;
  padding-top: 20px;
}
.hero__img {
  padding-top: 3px;
  padding-bottom: 34px;
}

.article {
  display: flex;
  flex-direction: row;
}

.team {
  text-align: center;
  padding-bottom: 80px;
}
.team__desc {
  padding-bottom: 27px;
  padding-left: 48px;
  padding-right: 48px;
  flex-wrap: wrap;
  color: rgb(182, 182, 182);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__desc {
  font-size: 15px;
  font-weight: 300;
  line-height: auto;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  margin: 0 0 0 0;
  font-style: italic;
  color: rgb(182, 182, 182);
}
.team__overlay {
  display: none;
  width: 380px;
  height: 470px;
  background-image: linear-gradient(to bottom, rgba(239, 139, 138, 0.8), rgba(229, 207, 130, 0.8));
  position: absolute;
}

.team:hover .team-overlay {
  display: block;
}

.footer {
  padding-bottom: 10px;
}

.footer-container {
  border-top-width: 1px;
  border-top-color: rgb(182, 182, 182);
  border-top-style: solid;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.footer-desc {
  margin: 0 0 0 0;
}

.footer-desc,
.footer-link {
  font-size: 14px;
  letter-spacing: 0;
  line-height: auto;
  font-weight: 400;
}

.footer-link {
  color: rgb(243, 129, 129);
}

.footer-form {
  display: flex;
}

.footer-form-button {
  padding: 11px 38px 12px 38px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(149, 225, 211);
  line-height: auto;
  letter-spacing: 0;
  border-width: 0;
}

.footer-form-input {
  color: rgb(182, 182, 182);
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
  line-height: auto;
  letter-spacing: 0;
  border-width: 1px;
  border-color: rgb(182, 182, 182);
  border-style: solid;
  padding: 12px 145px 11px 10px;
}