@use './utils/variables';
@use './base/reset';
@use './utils/fonts';
@use './base/base';
@use './components/footer';
@use './components/service';
@use './components/header';
@use './components/burger-menu';
@use './components/team';
@use './utils/placeholders';
@use './base/adaptive';
