
.footer {
  padding-bottom: 10px;
}

.footer-container {
  border-top-width: 1px;
  border-top-color: var(--paragraph-color);
  border-top-style: solid;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.footer-desc {
  margin: 0 0 0 0;
  color: var(--footer-desc-color);
}

.footer-desc,
.footer-link {
  font-size: 14px;
  letter-spacing: 0;
  line-height: auto;
  font-weight: 400;
}

.footer-link {
  color: var(--focus-text-color);
}

.footer-form {
  display: flex;
}

.footer-form-button {
  padding: 11px 38px 12px 38px;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 14px;
  color: var(--background-color);
  background-color: var(--nav-text-color);
  line-height: auto;
  letter-spacing: 0;
  border-width: 0;
}

.footer-form-input {
  color: var(--paragraph-color);
  font-family: var(--second-family);
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
  line-height: auto;
  letter-spacing: 0;
  border-width: 1px;
  border-color: var(--paragraph-color);
  border-style: solid;
  padding: 12px 145px 11px 10px;
}