@use '../utils/variables' as *;
@use '../utils/fonts' as *;

.header {
	padding-top: 17px;

	&__container {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__list {
		display: flex;
		gap: 55px;
	}

	&__link {
		color: $navigation-text-color;
		font-size: 14px;
		text-transform: uppercase;

		&:hover {
			color: $hover-text-color;
			border-bottom: 3px solid $hover-text-color;
			padding-bottom: 10px;
		}
	}

	&__logo {
		color: $navigation-text-color;
		font-size: 30px;
		font-weight: 700;
	}
}

@media (max-width: 768px) {
	.header {
		&__list {
			display: none;
		}
	}
	.burger-menu__button {
		display: inline-block;
	}
}
