@use "../utils/variables" as *;
@use "../utils/fonts" as *;

.header {
  padding-top: 17px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 55px;
  }

  &__link {
    color: $nav-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0;
    text-transform: uppercase;

    &:hover {
        color: $focus-text-color;
        padding-bottom: 10px;
        border-bottom: 3px solid;
        border-color: $focus-text-color;
      }
    }

  &__logo {
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: $nav-text-color;
  }
}