@use '../utils/variables' as *;
@use '../utils/fonts' as *;

.hero {
  padding-top: 68px;
  padding-bottom: 100px;

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    column-gap: 70px;
    justify-content: center;
  }

  &__icon {
    width: 38px;
    height: 37px;
    fill: $accent-color;
  
 


    &:after {
      fill: $focus-text-color;
    }
  }

  &__item {
    flex-basis: calc((100% - 140px) / 3);
  }

  &__article {
    display: flex;
  }

  &__title {
    color: $titles-color;
    font-variant: small-caps;
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
  }

  &__desc {
    color: $paragraph-color;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    font-weight: 400;
    padding-left: 19px;
    padding-top: 20px;
    width: 310px;
  }
}

.title--hero::after {
  margin-top: 40px;
  margin-bottom: 65px;
}