@use '../utils/variables' as *;
@use '../utils/fonts' as *;

.service {
	padding-top: 68px;

	// &__container {
	// 	flex-wrap: wrap;
	// 	margin: 0 auto;
	// 	display: flex;
	// 	flex-direction: column;
	// }

	&__wrapper {
		max-width: 290px;
	}

	&__list {
		row-gap: 100px;
		display: flex;
		column-gap: 70px;
		flex-wrap: wrap;
	}

	&__item {
		flex-basis: calc((100% - 140px) / 3);
		gap: 20px;
		display: flex;
	}

	&__article {
		display: flex;
		gap: 20px;
	}

	&__title {
		font-family: 'Montserrat', sans-serif;
		padding-bottom: 20px;
		color: $title-color;
		font-size: 14px !important;
		text-transform: uppercase;
	}

	&__description {
		color: $paragraph-color;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
		line-height: 22px;
	}

	&__icon {
		flex-shrink: 0;
		width: 37px;
		fill: $navigation-text-color;
		height: 37px;
	}
}

.title--service {
	padding-top: 20px;
}

.title--service::after {
	display: block;
	content: '';
	width: 60px;
	height: 4px;
	background-color: $hover-text-color;
	margin: 40px auto 65px;
}
