@use '../utils/variables' as *;
@use '../utils/variables' as *;
@use '../utils/fonts' as *;

.team {
  text-align: center;
  padding-bottom: 80px;

  &__desc {
    padding-bottom: 27px;
    padding-left: 48px;
    padding-right: 48px;
    flex-wrap: wrap;
    color: $paragraph-color;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__title {
    color: $titles-color;
    font-size: 14px;
    font-variant: small-caps;
    padding-bottom: 11px;
    padding-top: 30px;
  }

  &__job {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: $paragraph-color;
  }

  &__article {
    position: relative;

    &:hover .team__overlay {
      display: block;
    }
  }

  &__overlay {
    display: none;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(
      to bottom,
      rgba(239, 139, 138, 0.8),
      rgba(229, 207, 130, 0.8)
    );
    position: absolute;
  }
}
.title--team::after {
  margin-top: 36px;
  margin-bottom: 45px;
}