@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
@use '../utils/fonts' as *;

@media (max-width: 393px) {
	.container {
		max-width: 340px;
		max-width: 340px;
		margin: 0 auto;
	}

	.title {
		font-weight: 700;
		line-height: 100%;
		text-align: center;
		font-variant: small-caps;
		font-size: 24px;
		color: $title-color;
		letter-spacing: 0;

		&::after {
			content: '';
			display: block;
			width: 20px;
			height: 2px;
			margin: 0 auto;
			background-color: $hover-text-color;
		}
	}

	.subtitle {
		font-family: 'Kaushan Script', sans-serif;
		font-weight: 400;
		text-align: center;
		font-size: 18px;
		padding-bottom: 10px;
		line-height: 100%;
		color: $title-color;
	}

	.header {
		padding-top: 4px;

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__list {
			display: none;
			gap: 55px;
		}

		&__link {
			font-size: 14px;
			text-transform: uppercase;
			color: $navigation-text-color;
			font-weight: 400;

			&:hover {
				border-bottom: 3px solid $hover-text-color;
				padding-bottom: 10px;
				color: $hover-text-color;
			}
		}

		&__logo {
			font-weight: 700;
			line-height: 100%;
			font-size: 30px;
			color: $navigation-text-color;
		}
	}

	.service {
		padding: 38px 0 70px;

		&__container {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			flex-wrap: wrap;
		}

		&__list {
			display: flex;
			justify-content: center;
			column-gap: 50px;
		}

		&__item {
			width: 100%;
		}

		&__article {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__title {
			font-weight: 400;
			font-size: 15px;
			padding: 0 0 10px 10px;
			color: $title-color;
			font-variant: small-caps;
		}

		&__description {
			font-weight: 400;
			font-size: 15px;
			width: 310px;
			padding: 0 0 0 10px;
			font-family: 'Roboto', sans-serif;
			color: $paragraph-color;
			line-height: 22px;
		}

		&__icon {
			width: 37px;
			height: 37px;
		}
	}

	.title--service::after {
		margin: 40px auto 65px;
	}

	.about {
		text-align: center;
		padding-bottom: 80px;

		&__description {
			font-size: 12px;
			padding: 0 48px 27px;
			font-weight: 400;
			color: $paragraph-color;
			font-family: 'Roboto', sans-serif;
		}

		&__list {
			display: flex;
			gap: 30px;
		}

		&__title {
			font-variant: small-caps;
			font-weight: 400;
			font-size: 14px;
			padding: 30px 0 11px;
			color: $title-color;
		}

		&__role {
			font-style: italic;
			font-weight: 300;
			font-size: 12px;
			margin: 0;
			color: $paragraph-color;
			font-family: 'Roboto', sans-serif;
		}

		&__article {
			position: relative;

			&:hover .about__overlay {
				display: block;
			}
		}

		&__image {
			width: 260px;
			height: 300px;
		}

		&__overlay {
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(
				to bottom,
				rgba(239, 139, 138, 0.8),
				rgba(229, 207, 130, 0.8)
			);
		}
	}

	.title--about::after {
		margin: 16px auto 15px;
	}

	.footer {
		padding-bottom: 10px;

		&__form {
			justify-content: center;
		}
		&__description {
			font-size: 8px;
			font-weight: 400;
			letter-spacing: 0;
			color: $footer-description-color;
		}

		&__input {
			font-family: 'Roboto', sans-serif;
			font-style: italic;
			font-weight: 300;
			font-size: 10px;
			color: $paragraph-color;
			border: 1px solid $paragraph-color;
			padding: 12px 20px;
			width: 100%;
		}

		&__button {
			font-variant: small-caps;
			font-weight: 700;
			font-size: 10px;
			padding: 8px 25px 9px;
			background-color: $navigation-text-color;
			color: $background-color;
			border: none;
		}

		&__container {
			flex-direction: column;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 750px;
		max-width: 750px;
	}

	.header__list {
		gap: 30px;
	}

	.service__list {
		column-gap: 30px;
		row-gap: 40px;
		justify-content: center;
		flex-wrap: wrap;
	}

	.about__list {
		display: flex;
		justify-content: center;
		gap: 30px;
	}

	.footer__container {
		flex-direction: column;
		gap: 10px;
	}

	.footer__input {
		max-width: 230px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 960px;
	}

	.service__list {
		column-gap: 40px;
		row-gap: 50px;
		flex-wrap: wrap;
	}

	.about__list {
		flex-wrap: wrap;
		justify-content: center;
	}

	.about__item {
		width: 45%;
	}
}
