@use "../utils/variables" as *;
@use "../utils/fonts" as *;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Make links change color on hover/focus using the project focus color */
a:focus,
a:hover {
  color: $focus-text-color;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: $titles-color;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  font-variant: small-caps;

  &::after {
    display: block;
    content: "";
    width: 60px;
    height: 4px;
    background-color: $focus-text-color;
    margin: 0 auto;
  }
}

.subtitle {
  text-align: center;
  padding-bottom: 20px;
  color: $titles-color;
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}