@use '../utils/variables' as *;
@use '../utils/fonts' as *;

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.title {
	color: $title-color;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	text-align: center;

	&::after {
		display: block;
		content: '';
		width: 60px;
		height: 4px;
		background-color: $hover-text-color;
	}
}

.subtitle {
	color: $title-color;
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24px;
	text-align: center;
}

.burger-menu__button {
	display: none;
}

.burger-menu__svg {
	width: 50px;
	height: 50px;
}
