body {
  font-family: var(--font-family)
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  color: $titles-color;
  font-weight: 700;
  font-size: 30px;
  font-variant: small-caps;
}

.subtitle {
  text-align: center;
  padding-bottom: 20px;
  color: $titles-color;
  font-family: $third-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  
}
